/*This is the CSS page for our final template.*/

p{
	font-family: "Roboto", sans-serif;
	font-size: 20px;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #cccccc;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}

.header {
	height: auto;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	font-family: "Oswald", sans-serif;
	color: #FFFFFF;
	background-color: #1F3870; /*this is the Vision Zero blue*/
}

h4 {
	font-size: 40px;
	font-family: "Oswald", sans-serif;
}

h3 {
	font-size: 30px;
	font-family: "Oswald", sans-serif;
}

a:link {
  color: #058ED9;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: #058ED9;
  background-color: transparent;
  text-decoration: underline;
}

/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{

	.footer p{
		background-color: palevioletred;
	}

 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }

}